@use "../partials" as p;

.product-grid {
    &__container {
        &._layout-a {
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include p.mq(desktop, max) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include p.mq(tablet-wide, max) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        &._layout-b {
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, min-content);

            & > .product-card {
                &:first-child {
                    grid-column: 1/3;
                    grid-row: 1/3;
                    align-self: center;
                    justify-self: center;
                    transform: scale(1.4);
                }
            }

            @include p.mq(desktop, max) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include p.mq(tablet-wide, max) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
