@use "../partials" as p;

.product-card {
    padding: 8rem 0rem;
    box-shadow: -0.4rem 0.8rem 2.8rem -2.2rem p.$gray20;

    &._slim {
        padding: 2rem 0rem;
        width: 30rem;
        height: 40rem;
        overflow: hidden;

        & > .product-card {
            &__title {
                gap: 0rem;
            }
        }
    }

    & > * {
        @include p.hero-text;

        @include p.mq(desktop, max) {
            font-size: 3rem;
        }
        @include p.mq(tablet-wide, max) {
            font-size: 5rem;
        }
    }
    &__name {
        padding: 2rem;
        @include p.truncate(40rem);
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        &:link,
        &:visited {
            transition: color 0.2s ease-in;
        }
        &:hover,
        &:active {
            color: p.$gray20;
        }
    }

    &__price {
    }
}
