@use "../partials" as p;

.product {
    &-images__wrapper {
        display: flex;
    }

    &-image__container {
        position: relative;
        height: 20rem;
    }

    &-images__container {
        img {
            @include p.center-absolute;
            object-fit: contain;
            // object-position: -1rem -6rem;
            // @include p.adaptive;
        }
    }
}
