@use "../partials" as p;

.product {
    &-image__container {
        width: 100%;
    }
    &-images__wrapper {
        position: relative;
        width: 100%;
        display: flex;

        overflow: scroll;
        position: relative;
        height: 40rem;
        margin: 0 auto;
    }
    &-images__container {
        position: absolute;
        display: flex;
        gap: 8rem;
        width: 100%;

        img {
            top: 1rem;
            left: 1rem;
            object-fit: none;
            object-position: center;
            // @include p.adaptive;
        }
    }
}
